.Q_IndexSectionButtonIcon {
  position: absolute;
  width: 28rem;
  height: 3rem;
  background-color: white;
  opacity: 0;
  top: 28rem;
  left: 14rem;
  transition: all 0.6s ease;
}
.Q_Hightlight {
  background-color: #ddba00;
}
