/* articles.html */
.A_HeaderArticlesLink {
  color: #eee;
  text-decoration: none;
  font-size: 20rem;
  transition: color 0.4s ease;
}
.A_HeaderArticlesLink:hover {
  color: #bababa;
  transition: color 0.8s ease;
}
.A_HeaderArticlesH1 {
  font-size: 120rem;
  margin-top: 100rem;
  font-weight: 700;
}
.A_ArticlesCardImage {
  width: 100rem;
  display: block;
}
.A_ArticlesCardHeader {
  font-size: 28rem;
}
.A_ArticleCardTag {
  font-size: 16rem;
  border-radius: 20rem;
  border: 2rem solid #eee;
  padding: 10rem 14rem;
  width: fit-content;
}
/* ______________styleguide___________ */
.A_HeaderLink {
  text-decoration: none;
  color: #aaa;
  transition: all ease 0.4s;
}
.A_HeaderLink:hover {
  color: #fff;
  transition: all ease 0.6s;
}
/* .A_HeaderImage {
  width: 200rem;
} */
.A_HeaderImage {
  width: 400rem;
  height: 300rem;
  background-image: url('../../images/crystal.jpg');
  background-size: 400rem 3600rem;
  background-position-y: 300rem;
  transform-origin: center;
  transform: scale(1);
  animation: spriteCrystalAnim 1.5s steps(1) infinite alternate paused;
  transition: transform 0.1s linear;
}
.A_HeaderImage:hover {
  animation-play-state: running;
  transform: scale(1.15);
  transition: transform 0.5s linear;
}
.A_MainHeader {
  font-weight: 700;
  font-size: 120rem;
  color: #d8d8d8;
  display: block;
}
.A_SectionHeader {
  font-weight: 500;
  font-size: 58rem;
  line-height: 64rem;
  color: #090227;
  margin-bottom: 30rem;
}
.A_SectionDopHeader {
  font-weight: 500;
  font-size: 38rem;
  line-height: 54rem;
  color: #090227;
  margin-bottom: 20rem;
}
.A_MainSectionText,
.A_HeaderLink {
  font-weight: 400;
  font-size: 28rem;
  line-height: 36rem;
  color: #090227;
}
.A_MainSectionText {
  margin-bottom: 20rem;
}
.A_MainSectionLink {
  width: 100%;
  border-radius: 22rem;
  background: #eee;
  color: #090227;
  padding: 10rem 20rem;
  text-decoration: none;
  transition: all ease 0.4s;
  font-size: 28rem;
}
.A_MainSectionLink:hover {
  background: #090227;
  background: radial-gradient(circle, rgb(69, 46, 128) 0%, rgb(9, 2, 39) 100%);
  color: #eee;
  transition: all ease 0.8s;
}

/* ________________test___________ */
.A_TestHeader {
  font-size: 32rem;
  color: var(--bg-card-color);
  margin: 16rem 0;
  font-weight: 600;
}
.A_TestImageQuestion {
  height: 100%;
}
.A_TestQuestion {
  margin: 100rem 0 60rem 0;
}
.A_TestQuestion,
.A_ResultHeader {
  font-size: 40rem;
}
.A_Checkbox,
input[type='checkbox'] {
  border-radius: 8rem;
  width: 26rem;
  height: 26rem;
  position: relative;
}
input[type='checkbox'] {
  opacity: 0;
  border: 1.4rem solid transparent;
  margin: 0;
  z-index: 2;
}
input[type='checkbox']:checked + .A_Checkbox {
  background-color: var(--button-basic-color);
}
.A_Checkbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1.4rem solid var(--button-basic-color);
  border-radius: 8rem;
  width: 26rem;
  height: 26rem;
  background-color: white;
}
.A_FinalCount,
.A_NumberOfQuestion {
  color: #ffc5fc;
}

.A_IndexSectionButtonIcon {
  width: 60rem;
  height: 60rem;
  border-radius: 40rem;
  background-color: var(--button-basic-color);
  position: relative;
  transition: all 0.6s ease;
}
.A_IndexSectionButtonIcon::before {
  content: '';
  position: absolute;
  top: 18rem;
  left: 15rem;
  border-top: 3rem solid white;
  border-right: 3rem solid white;
  width: 20rem;
  height: 20rem;
  transform: rotate(45deg);
  transition: all 0.6s ease;
}
.A_IndexSectionButtonText {
  font-size: 30rem;
  color: #8075aa;
  position: absolute;
  right: 20rem;
  transition: color 0.4s ease;
}
.A_MenuLogo {
  text-decoration: none;
  color: var(--button-hover-color);
  transition: color 0.5s ease;
  font-size: 32rem;
  font-weight: 700;
}
.A_MenuLink {
  text-decoration: none;
  color: var(--button-hover-color);
  transition: color 0.5s ease;
  font-size: 22rem;
  padding: 0 10rem;
  font-weight: 500;
}
.A_MenuLogo:hover,
.A_MenuLink:hover {
  color: var(--bg-card-color);
  transition: color 0.5s ease;
}
.A_IndexH1 {
  font-weight: 700;
  font-size: 250rem;
  color: var(--text-main-color);
  display: block;
  margin: 0 auto;
}
.A_IndexH2 {
  font-weight: 500;
  font-size: 58rem;
  line-height: 64rem;
  color: var(--text-main-color);
  margin-bottom: 40rem;
}
.A_IndexH2.section {
  color: #8075aa;
  margin-bottom: 0rem;
}
.A_IndexText,
.A_IndexH3 {
  font-weight: 400;
  font-size: 28rem;
  line-height: 36rem;
  color: var(--text-main-color);
  margin: 20rem 0;
}
.S_IndexSection .A_IndexText {
  color: #8075aa;
}
.A_IndexText.form {
  font-size: 16rem;
  line-height: 100%;
  margin: 10rem 0 0 20rem;
}
.A_IndexText.section {
  max-width: 40%;
}
.A_IndexSectionCardDescription {
  font-size: 18rem;
  line-height: 24rem;
}
.A_IndexContainerImage {
  width: 56%;
  display: block;
  margin: 0 auto;
  transition: transform ease 1s;
}
.A_IndexContainerImage:hover {
  transform: translateX(-60rem) translateY(40rem);
  transition: transform ease 1s;
}
.A_IndexFormInput {
  height: 46rem;
  width: 400rem;
  border-radius: 30rem;
  border: 2rem solid transparent;
  outline: none;
  padding: 0 20rem;
  font-size: 20rem;
  transition: border ease 0.4s;
}
.A_IndexFormInput:focus {
  border: 2rem solid var(--button-basic-color);
  transition: border ease 0.8s;
}
.A_IndexFormButton {
  height: 46rem;
  padding: 0 30rem;
  text-transform: uppercase;
  font-size: 20rem;
  border-radius: 30rem;
  border: 2rem solid var(--button-basic-color);
  background-color: var(--button-basic-color);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-left: 20rem;
  transition: all ease 0.4s;
}
.A_IndexFormButton:hover {
  background-color: var(--button-hover-color);
  border: 2rem solid var(--button-hover-color);
  transition: all ease 0.8s;
}
.A_AnimCircle {
  width: 50%;
  height: 50%;
  background-color: #b300ff;
  border-radius: 100%;
  z-index: -1;
}
.A_AnimCircle:nth-of-type(1),
.A_AnimCircle:nth-of-type(4) {
  background-color: #58b1ff;
}
.A_IndexSectionCardTag {
  padding: 8rem 16rem;
  color: white;
  background-color: var(--button-basic-color);
  border-radius: 20rem;
  font-size: 12.5rem;
}

.A_FilterTag {
  background-color: var(--button-basic-color);
  color: var(--text-main-color);
  padding: 8rem 16rem;
  border-radius: 20rem;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
.A_FilterTag:hover {
  background-color: var(--button-hover-color);
}
.A_FilterTag.active {
  background-color: var(--bg-card-color);
}

/* поиск */
.A_SearchInput {
  border-radius: 20rem;
  width: 300rem;
  /* height: 40rem; */
  border: 2rem solid var(--button-basic-color);
  padding: 10rem 20rem;
  position: relative;
  z-index: 2;
  font-size: 20rem;
  color: var(--button-hover-color);
}
.A_SearchInput:focus {
  outline-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}
.O_Search .A_SearchInput {
  width: 100%;
  padding: 16rem 28rem;
}
.O_Search .A_SearchButton {
  padding: 16rem 28rem;
}
.A_SearchButton {
  padding: 10rem 20rem;
  font-size: 20rem;
  background-color: var(--button-basic-color);
  border-radius: 20rem;
  border: 2rem solid var(--button-basic-color);
  color: var(--text-main-color);

  user-select: none;
  cursor: pointer;
}
.A_SearchButton[disabled] {
  /* background-color: #eee;
  border-color: #777;
  color: #777; */
  filter: grayscale(1);
}
.A_SearchResultHeader {
  font-weight: 500;
}
a.A_Footer:hover {
  text-decoration: underline;
}
a.A_Footer {
  color: white;
  text-decoration: none;
}
.A_Footer {
  font-size: 1.6vw;
}
