/* ____________________articles.html____________________ */
.O_HeaderArticles {
  width: 100%;
  background-color: #4c445c;
  color: #eee;
  padding: 30rem 40rem;
  border-radius: 0 0 40rem 40rem;
}
.O_HeaderArticlesLinks,
.O_Articles {
  display: flex;
  gap: 20rem;
}
.O_Articles {
  padding: 30rem 40rem;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 1.1vw;
}
.O_Articles .O_IndexSectionCard {
  width: 32%;
}
.O_Swiper {
  padding: 30rem 40rem;
  width: 80%;
  height: 600rem;
  font-size: 20rem;
  margin: 0 auto;
}

/* ______________styleguide___________ */
.O_Header {
  background-color: #010101;
  border-radius: 0 0 40rem 40rem;
  overflow: hidden;
}
.O_Sidebar,
.O_Aside {
  padding: 0 20rem;
  width: 20%;
  position: relative;
}
.O_MainSection {
  width: 60%;
  position: relative;
}

/* ________________test___________ */
.O_Test {
  width: 1280rem;
  height: 600rem;
  background-color: var(--bg-card-color);
  border-radius: 40rem;
  display: flex;
  gap: 40rem;
  padding: 20rem;
  padding-bottom: 0;
}

.O_IndexWrapper {
  overflow: hidden;
  margin-top: 20rem;
  width: 1400rem;
  height: 96vh;
  border-radius: 40rem;
  background-color: var(--bg-card-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(30rem);
}
.O_IndexAnimation {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 2%;
  left: 25%;
  animation: rotate 10s linear infinite;
}
.O_IndexSectionCard {
  width: 300rem;
  background-color: var(--bg-card-color);
  border-radius: 40rem;
  backdrop-filter: blur(30rem);
  padding: 20rem 40rem;
  color: var(--text-main-color);
  background-size: 40% 200rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-height: 220rem;
  justify-content: space-between;
}
.O_IndexSectionCard:nth-of-type(1) {
  background-image: url('../../images/flowers/flower-1.svg');
}
.O_IndexSectionCard:nth-of-type(2) {
  background-image: url('../../images/flowers/flower-2.svg');
}
.O_IndexSectionCard:nth-of-type(3) {
  background-image: url('../../images/flowers/flower-3.svg');
}
.O_IndexSectionCard:nth-of-type(4) {
  background-image: url('../../images/flowers/flower-4.svg');
}
.O_IndexSectionCard:nth-of-type(5) {
  background-image: url('../../images/flowers/flower-5.svg');
}
.O_IndexSectionCard:nth-of-type(6) {
  background-image: url('../../images/flowers/flower-6.svg');
}
.O_IndexSectionHeader {
  display: flex;
  justify-content: center;
  gap: 40rem;
}
.O_Search {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100rem;
  padding: 60rem 0;
}
