@media screen and (max-width: 1280px) {
  .O_IndexWrapper {
    justify-content: flex-end;
    gap: 100rem;
  }
}
@media screen and (max-width: 780px) {
  html {
    font-size: calc(1vw / 6);
  }
  .S_IndexPage {
    overflow: auto;
  }
  .O_IndexWrapper {
    width: calc(100% - 40rem);
    margin: 20rem;
    height: fit-content;
    gap: 0;
  }
  .W_IndexContainer {
    flex-direction: column;
  }
  .W_IndexContainer > div {
    width: 100%;
  }
  .A_IndexH1 {
    font-size: 100rem;
    margin-top: 40rem;
  }
  .A_IndexFormInput,
  .A_IndexFormButton {
    width: 100%;
    margin: 10rem 0 0 0;
  }
  .A_AnimCircle {
    width: 240rem;
    height: 240rem;
  }
  .O_IndexAnimation {
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
  }
}
