<footer class="C_Footer">
  <div class="M_Footer">
    <p class="A_Footer">HSE ADC</p>
    <p class="A_Footer">2026</p>
  </div>
  <div class="M_Footer">
    <a class="A_Footer" href="https://annkomkova.github.io/static-site-09-25/"
      >Главная</a
    >
    <a
      class="A_Footer"
      href="https://annkomkova.github.io/static-site-09-25/styleguide.html"
      >Стайлгайд</a
    >
  </div>
  <div class="M_Footer">
    <p class="A_Footer">Анна Комкова</p>
    <p class="A_Footer">Иван Иванов</p>
  </div>
</footer>
